<!DOCTYPE html>
<html>
<head>
    <title>BANTAI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="logo">
                <a href="#">BANTAI</a>
            </div>
        </header>
        <div class="menu">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-scale-balanced"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-book"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa-solid fa-gear"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                </li>
            </ul>
        </div>
        </nav>
</body>
</html>